@import url("https://rsms.me/inter/inter.css");

html {
  font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 62.5%;
  margin: 0;
  background-color: #fbfbfb;
}

h1 {
  font-weight: 500;
  font-size: 4.5rem;
  line-height: 1.2;
  letter-spacing: -0.04em;
  max-width: 53.75rem;
}

a {
  text-decoration: none;
  color: #1a1a1a;
}

span {
  background-image: linear-gradient(transparent calc(100% - 3px), black 3px);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size 1s;
}

span:hover {
  background-size: 100% 100%;
}
